    <div class="row-fluid">
      <div class="span3">
        <div class="well">
          {{{ sidebar }}}
        </div><!--/.well --> 
      </div><!--/.span -->

      <div class="span9"> 
        <div class="hero-unit">
          <h1>{{{ hero }}}</h1>
        </div><!--/.hero-unit -->

        <div class="row-fluid">
          <div class="span4">
            {{{ left }}}
          </div>
          <div class="span4">
            {{{ center }}}
          </div>
          <div class="span4">
            {{{ right }}}
          </div>
        </div><!--/.row-fluid -->
      </div><!--/.span -->
    </div><!--/.row-fluid -->
